#account--access--container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#account--access--container > img{
    filter: drop-shadow(0px 0px 4px white);
}
#account--access--container section{
    width: 33%;
}
#account--access--container h1{
    font-weight: 900;
    font-size: 2em;
}
.account--access--forms, #profile--edit--form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 5px;
}
.account--access--forms input, #profile--edit--form input{
    background-color: #292b3d;
    padding: 12px;
    border-radius: 12px;
    transition: .2s ease-in-out;
    border: none;
    outline: none;
}
.auth--btn{
    color: black;
    padding: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.google--account--access{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.demo--access{
    background-color: black !important;
    color: white !important;
    font-weight: 500;
}
.account--access--forms input:hover, .account--access--forms button:hover{
    filter: drop-shadow(0 3px 5px #121218);
}
@media (max-width: 1000px) {
    #account--access--container{
        flex-direction: column;
        justify-content: unset;
    }
    #account--access--container > img{
        align-self: flex-start;
        width: 100px;
        height: 100px;
        filter: drop-shadow(0 0 0);
    }
    #account--access--container section{
        width: 100%;
    }
    #account--access--container h1{
        font-size: 1.5em;
    }
}