nav{
  background-color: #20212f;
  border-radius: 30px;
  padding: 0 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0 3px 5px #121218)
}
.nav--bars{
  font-size: 1.3em;
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 20px;
}
nav img{
  height: 80px;
  width: 80px;
  cursor: pointer;
}
nav ul{
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  gap: 25px;
}
nav li{
  cursor: pointer;
}
.active i{
  color: white;
}
@media (max-width: 750px) {
  nav{
    flex-direction: column;
  }
  #nav--logo{
    align-self: flex-start;
  }
  nav ul{
    display: none;
  }
  .nav--bars{
      display: block !important;
  }
  .post--details{
      align-items: flex-start;
      flex-direction: column;
  }
}
@media (max-width: 320px){
  nav ul{
    flex-direction: column;
  }
}