#post--detail--container{
  display: grid;
  grid-template-columns: 2fr 1.25fr;
  column-gap: 20px;
  border-radius: 20px;
  transition: filter 0.3s;
  min-height: 0; 
  min-width: 0;
}
#post--detail--container > section, #post--detail--container > aside{
  background-color: #16161e;
  padding: 25px;
  border-radius: 20px;
  height: fit-content;
  transition: 0.2s ease-in-out;
  overflow: hidden; 
  min-width: 0
}
#post--detail--container > section:hover, #post--detail--container > aside:hover{
  filter: drop-shadow(0 3px 5px #121218);
}
#post--detail--container > aside{
  position: sticky;
  top: 70px;
}
@media (max-width: 800px) {
  #post--detail--container{
    display: block;
  }
  #post--detail--container > aside{
    display: none;
  }
}