*{
  font-family: Inter;
  color: white;
  box-sizing: border-box;
}
body{
  background-color: #1a1b26;
  padding: 0 25px;
  max-width: 1500px;
  margin: auto;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
.heading{
  font-weight: 600;
  margin: 8px 0;
}
.cta{
  background-color: #1d1268;
  border: none;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 12px;
  cursor: pointer;
}
.text--cta{
  color: #493aac;
  font-weight: 500;
}
.expand{
  width: 100%;
}
.username{
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text--center{
  text-align: center;
}
.profile--img{
  border-radius: 50%;
}
.pointer{
  cursor: pointer;
}
.danger--text{
  color: rgb(149, 52, 52);
}
.danger--btn{
  background: rgb(149, 52, 52);
  border: none;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}
.no--underline{
  text-decoration: none;
}
.overstated{
  color: white;
  font-weight: 800;
}
.understated{
  color: gray;
}
.visible{
  display: block !important;
}
.blurred{
  filter: blur(4px);
}